.product-area{
     margin-bottom: 70px;
}
.product-section{
     text-align:  center;
     margin: 60px 0px;
     font-family: 'Poppins', sans-serif;
     color:#252531
}
.product-section h3 {
     font-weight: 600;
}
.product-section p {
     letter-spacing: 2px;
}

